{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rango
{% endblock %}

{% block body_block %}
	<h1>Ranog says...<h1>
	{% if user.is_authenticated %}
		hello {{ user.username }}!
	{% else %}
		hey there!
	{% endif %}

	<h3> Most Liked Categories </h3>
	{% if categories %}
		<ul>
		{% for category in categories %}
			<li><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a></li>
		{% endfor %}
		</ul>

	{% else %}
		<strong>There are no categoies present.</strong>
	{% endif %}
		
	<h3> Most Viewed Pages </h3>
	{% if page %}
		<ul>
			{% for pages in page %}
				<li><a href={{ pages.url }}>{{ pages.title }}</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no pages present.</stong>
	{% endif %}
		
	<img src="{% static "images/rango.jpg" %}"
		alt="Picture of Rango" />
			
{% endblock %}